
/* general style */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #bbb8b4;
    height: 100vh;
}

/* google translate hide bar and tooltips*/
.goog-te-banner-frame.skiptranslate {display: none !important;} 
body { top: 0px !important; }

.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}

/* zoom position */
.leaflet-control-zoom  {
    margin-bottom: 85px!important;
}

/* easy button bar width */
.leaflet-touch .leaflet-bar a {
    width: 40px!important;
}

.leaflet-touch .leaflet-bar button{
    width: 40px!important;
}

/* #countriesDropdown {
    background-color: white;
    color: black;
} */

/* layer control size */
.leaflet-touch .leaflet-control-layers-toggle {
    width: 40px!important;
    height: 30px!important;
}

/* distance between leaflet buttons */
.leaflet-control-layers-overlays {
	margin-bottom: 20px;
}

/* easy button colours */
#button-overview {
    color: blue;    
}

#button-economy {
    color: orange;
}

#button-environ {
    color: green;
}

#button-social{
    color: red;
}

/* container full width */
.container-fluid{
    padding: 0;
}

/* navbar position over map */
.navbar {
    z-index: 98;
}

/* modal accordion button borders */
.btn-outline-danger, .btn-outline-success, .btn-outline-warning {
    border: 2px solid black !important;
    color: black;
}

/* accordion containers */
.card {
    background-color: transparent;
    border: none;
}

.card-body {
    height: 300px;
}

/* map styling */
#map {
    z-index: 1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

/* legend styling */
.legend {
    background-color:rgba(255, 255, 255, 0.75);
}

#legendTitle {
    font-size: 12px;
    text-align: center;
}

.legend span, .legend label {
    display: block;
    width: 45px;
    height: 9px;
    float: left;
    text-align: center;
    font-size: 70%;
}
.legend p {
    margin-bottom: 0;
    text-align: center;
    font-size: 10px;
}


/* #sidebar {
    display: flex;
    position: fixed;
    z-index: 99;
    background: white;
    width: 100%;
    bottom: 0;
    right:0;
} */

/* loading image styling */
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 99;
    text-align: center;
}
  
#loading-image {
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
}

/* modal data rows eg modal overview data */
.row {
    margin-right: auto;
    margin-left: auto;
}


/* .initiallyHidden {
    display:none;
} */

/* modal styling */
.modal-dialog,
.modal-content {
    height: 80%;
}

.modal-header .close {
    padding: 0rem 0rem!important;
    margin: -2rem 0rem -1rem -1rem!important;
}

/* modal body distance from top */
.placeholderClass {
    margin-top: 20px;
}

.modal-body {
    background-color: #dcdcdc;
}
.modal-header {
    display: block;
}

.modal-footer {
    flex-wrap: nowrap;
    padding: .25rem;
}

/* .countryTitle {
    position:relative;
} */


/* popup */
.leaflet-popup-content-wrapper {
    padding: 2px !important;
    text-align: center !important;
}

/* .leaflet-popup-content {
    margin: 15px!important;
}

.leaflet-popup-content {
    width: auto;
} */

.flag {
    display: block;
    width: 100%;
    opacity: 0.5;
} 

.modal-content {
    text-align: center;
}

/* modal header and footer styling */
#ecoHeader,#envHeader,#socHeader, #cityHeader {
    border-bottom: 2px solid black;
    color: white;
}

#ecoFooter,#envFooter,#socFooter, #cityFooter {
    border-top: 2px solid black;
    color: white;
}

#ecoHeader, #ecoFooter {
    background-color: orange;
}

#envHeader, #envFooter {
    background-color: #28a745;
}

#socHeader, #socFooter {
    background-color: #dc3545;
}

#cityHeader, #cityFooter {
    background-color: #007bffb8;
} 


/* modal INFO in the footer*/

.table {
    color: inherit!important;
}

.table.table-sm.table-light {
    margin-top: 20px!important;
}

.table.table-sm.table-borderless {
    font-size: 10px!important;
}


th, tr, td {
    padding: 0 !important;
    margin: 0 !important;

}


/* webcam video style*/

#webcamVid {
    border: 4px solid white;
}


/* CSS FOR MARKERS */

.weatherIcon {
    border-radius: 100px;
    border: 1px solid white;
    background-color: #ffffff5c;
    height: 25px; 
    width: 25px;
}

.weatherIcon:hover {
    background-color: #7d7d7dd1;
    border: 1px solid black;
}

.weatherIcon:active {
    background-color: #7d7d7dd1;
    border: 1px solid black;
}

.fa-city:hover {
    color: black!important;
    text-shadow: 0px 0px 0px #000000;
}

.fa-city:active {
  color: black!important;
  transform: translateY(2px);
  text-shadow: 0px 0px 0px #000000;
}

.fa-star:hover {
    text-shadow: 1px 1px 20px #ffc107!important;
}

.fa-star:active {
    text-shadow: 1px 1px 20px #ffc107!important;
}

.fa-video:hover {
    color: #f8f9fa!important;
}

.fa-video:active {
  color: #f8f9fa!important;
  transform: translateY(4px);
}

.fa-landmark:active {
    transform: translateY(2px);
}

@media only screen and (max-width: 768px) {

    /* Gazetter title position center */
    .navbar-brand {
        margin-right: 0 !important;
    }
    
    /* modal size decreased */
    .modal-dialog,
    .modal-content {
        height: 90%;
    }
    
    /*  currently not working */
    .fas .fa-sort-down .fa-1x {
        display:none;
    }

    /* space between leafelt buttons decreased */
    .leaflet-bar {
        margin-top: 1px!important;
        /* margin-bottom: 100px!important; */
    }

    /* legend size decreased */
    .legend span, .legend label {
        width: 25px;
        font-size: 50%;
    }

}

@media only screen and (max-width: 400px) {
    /* layer control small with scroll */
    .leaflet-control-layers-expanded {
        height: 100px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    /* modal close button small */
    .btn btn-secondary {
        font-size: .875rem!important;
    }
}